<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Savoricious"
        tools:targetApi="31">
        <activity
            android:name=".filter"
            android:exported="false"
            android:label="@string/title_activity_filter"
            android:theme="@style/Theme.Savoricious.NoActionBar" />
        <activity
            android:name=".lumpurlabu"
            android:exported="false" />
        <activity
            android:name=".bikaambon"
            android:exported="false" />
        <activity
            android:name=".pieteler"
            android:exported="false" />
        <activity
            android:name=".oatmelpsng"
            android:exported="false" />
        <activity
            android:name=".supjagung"
            android:exported="false" />
        <activity
            android:name=".pizzaayam"
            android:exported="false" />
        <activity
            android:name=".burger"
            android:exported="false" />
        <activity
            android:name=".eslaksamanamangga"
            android:exported="false" />
        <activity
            android:name=".sarangbuah"
            android:exported="false" />
        <activity
            android:name=".eskuwut"
            android:exported="false" />
        <activity
            android:name=".tulangsup"
            android:exported="false" />
        <activity
            android:name=".telurbalado"
            android:exported="false" />
        <activity
            android:name=".nasiikanasin"
            android:exported="false" />
        <activity
            android:name=".nasigoreng"
            android:exported="false" />
        <activity
            android:name=".DetailNotif"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Notifikasi"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomePage"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignIn_Page"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LandingPage3"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LandingPage2"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".Menu" />
    </application>

</manifest>